@font-face {
    font-family: 'Roboto';
    src:
        local('Roboto Bold'),
        local('Roboto-Bold'),
        url('fonts/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src:
        local('Roboto Medium'),
        local('Roboto-Medium'),
        url('fonts/Roboto-Medium.woff2') format('woff2'),
        url('fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 27px;

    margin: 0;
    padding: 0;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #3d5247;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.nav__link {
    padding: 20px;
    line-height: 60px;
    color: #ffffff;
}

.footer {
    padding: 30px 0;
    background-color: #3d5247;
    color: #ffffff;
}

.footer__inner {
    display: flex;
}

.footer__github {
    margin-left: 30px;
    color: #ffffff;
}

.footer__rs-link {
    margin-left: auto;
}

